
.stats {
  margin-bottom: 40px;

  h2 {
    text-align: center;
    font-size: 2em;
    padding-bottom: 30px;
    @include setFont("Rubik"){
      font-weight: normal;
      font-size: 54px;
      color: $secondary;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;

    .article {
      background-color: $secondary;
      width: 300px;
      padding: 50px 30px 50px 30px;
      color: $primary;
    }

    .one {
      background-color: $adjecent;
      color: $secondary;
    }

    .text {
      @include setFont("Rubik") {
        font-weight: bold;
        font-size: 2.0em;
        padding-bottom: 15px;
        }
      }
    }
  .subtitle {
    @include setFont("Rubik") {
      font-weight: normal;
      font-size: 1em;
      .title{
        padding-bottom: 20px;
      }
    }
    .title__more{
      @include setFont("Rubik"){
        font-weight: bold;
        font-size: 1em;
        padding-right: 20px;
      }
    }
  }
  .arrow{
    display: flex;
    justify-content: space-between;
  }
}
.points{
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
  .dot{
    display: flex;
    margin-left: 50px;
    .point{
      width: 10px;
      height: 10px;
      background-color: $secondary;
      border-radius: 50%;
      margin-left: 10px;
    }
  }

  .one{

  }
  .arrows{
    text-align: right;
    .image__rotate{
      rotate: 180deg;
      padding-left: 15px;
    }
  }
}
@media (max-width : #{$mobile}) {
  .stats h2 {
    @include setFont("rubik") {
      font-size: 4em!important;
      text-align: center!important;
      font-weight: 500;
    }
  }
  .row{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .article{
    margin-bottom: 20px;
    .text{
      font-size: 46px!important;
    }
    .title{
      font-size: 18px!important;
    }
    .title__more{
      font-size: 18px!important;
    }
    .web{

    }
  }
  .dot{
    margin-right: auto!important;
    margin-left: auto!important;
    .point{
      margin-right: 10px;
    }
  }
  .arrows{
    display: none;
  }
}

